body {
    background-color: lavenderblush;
    display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    text-align: center;

}

