a {
    text-decoration: none;
}

body {
    background-image: url("assets/pigs.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: mistyrose;
    display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    font-family: "chalkboard", "Papyrus";
    text-align: center;
}

footer {
    font-family: "luminari", "Academy Engraved Let", "zapfino";
    margin-top: 50px;
    opacity: 0.8;
}

footer a {
    background-color:lavenderblush;
    border-radius: 10px;
    color:salmon;
    padding:5px;
    text-shadow: 0px 0px 1px black;
}

h1 {
    padding:10px;
    color:white;
    text-shadow: 0px 0px 4px black;
}

main {
    background-color: mistyrose;
    border-radius: 50px;
    color:inherit;
    min-height:100vh;
    padding:10px;
    opacity: 0.97;
}

.pig-latin-text {
    background-color:rosybrown;
    border: 1px solid grey;
    border-radius: 5px;
    color:white;
    font-family: "chalkduster" ,"Papyrus";
    height:auto;
    margin: 15px 0;
    padding:10px;
    min-height:80px;
    min-width:90%;
    max-width:900px;
    text-align: left;
    text-indent:1em;
}

textarea {
    background-color: darkslategrey;
    border-radius:5px;
    color:white;
    font-family: "chalkduster" ,"Papyrus";
    font-size: 16px;
    height:80px;
    margin: 15px 0;
    padding:10px;
    max-width:900px;
    min-width:90%;
    text-align: left;
    text-indent:1em;
}

.box {
    display:flex;
        align-items: center;
        justify-content: center;  
}
