** {
    border:1px solid black;
}

a {
    text-decoration: none;
}

body {
    background-color: mistyrose;
    display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    font-family: "chalkboard", "Papyrus";
    text-align: center;
}

footer {
    font-family: "luminari", "Academy Engraved Let", "zapfino";
    margin-top: 50px;
}

footer a {
    color:salmon;
}

h1 {
    padding:10px;
}

main {
    color:inherit;
    min-height:100vh;
    padding:10px;
}

.pig-latin-text {
    background-color:rosybrown;
    border: 1px solid grey;
    border-radius: 5px;
    color:white;
    font-family: "chalkduster" ,"Papyrus";
    height:80px;
    margin: 15px 0;
    padding:10px;
    text-align: center;
    width:90%;
}

textarea {
    background-color: darkslategrey;
    border-radius:5px;
    color:white;
    font-family: "chalkduster" ,"Papyrus";
    font-size: 16px;
    height:80px;
    margin: 15px 0;
    padding:10px;

    text-align: center;
    width:90%;
}

textarea:active {
    border: 1px solid black;
}

.box {
    display:flex;
        align-items: center;
        justify-content: center;
    
}
